<!DOCTYPE html>
<html>
<head>
    <title>Babble</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    {% block head %}{% endblock %}
</head>
<body>
    <header>
        <nav class="navbar is-primary is-fixed-top" role="navigation">
            <div class="navbar-brand">
                <a class="navbar-item" href="/">
                    <span class="icon is-large">
                        <i class="fas fa-2x fa-comment-alt has-text-dark"></i>
                    </span>
                    <h1 class="title is-1">Babble</h1>
                </a>
            </div>
            <div class="navbar-menu">
                <div class="navbar-start">
                    <div class="navbar-item">
                    <form action="/search" method="GET">
                        <div class="field is-grouped">
                            <input style="margin-right:20px;" type="text" name="keyword">
                            <a class="button is-info is-rounded is-inverted">
                                <span>Go</span>
                                <span class="icon">
                                    <i class="fas fa-chevron-right"></i>
                                </span>
                            </a>
                        </div>
                    </form>
                </div>
                </div>
                <div class="navbar-end">
                    {% if session.logged_in %}
                        <div class="navbar-item">
                            <a class="button is-info is-rounded" href="/login">
                                <span class="icon">
                                    <i class="fas fa-user"></i>
                                </span>
                                <span>Login</span>
                            </a>
                        </div>
                        <div class="navbar-item">
                            <a class="button is-info is-rounded" href="/register">
                                <span class="icon">
                                    <i class="fas fa-user-plus"></i>
                                </span>
                                <span>Register</span>
                            </a>
                        </div>
                    {% else %}
                        <div class="navbar-item">
                            <a class="button is-info is-inverted is-rounded" href="/newbabble">
                                <span class="icon">
                                    <i class="fas fa-plus"></i>
                                </span>
                                <span>New Babble</span>
                            </a>
                        </div>
                        <div class="navbar-item">
                            <a class="button is-info is-inverted is-rounded" href="/myprofile">
                                <span class="icon">
                                    <i class="fas fa-child"></i>
                                </span>
                                <span>My profile</span>
                            </a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </nav>
    </header>
    <div class="container" style="top: 70px;">
        {% block body %}{% endblock %}
    </div>
</body>
</html>