{% extends "layout.html" %}

{% block body %}
<div class="section hero is-danger">
    <div class="hero-body container has-text-centered">
        <p class="title is-2 is-spaced">Are you sure you want to delete your account?</p>
        <div class="has-text-centered">
            <form action="/delete/{{ user }}" method="POST">
                <button class="button is-success spaced" type="submit">Yes!</button>
                <button class="button is-info spaced" type="submit">Yes but in blue!</button>
                <a href="/myprofile" class="button is-black spaced">No!</a>
            </form>
        </div>
    </div>
</div>

{% endblock %}