{% block body %}
<div class="container">
    <div class="section">
    {% for babble in babbles %}
        <div class="box">
            <article class="media">
                <div class="media-left">
                    <figure class="image is-64x64">
                        <img src="{{ url_for('static', filename='images/') }}{{ babble.username }}.jpg" alt="{{ babble.username }}">
                    </figure>
                </div>
                <div class="media-content">
                     <div class="content">
                        <p>
                            <a href="/babblers/{{ babble.username }}"><strong>@{{ babble.username }}</strong></a>
                            <small>{{ babble.elapsed }} ago</small>
                        <br>
                            <div style="white-space: pre-line;letter-spacing: 0.08rem;">
                                {{ babble.message }}
                            </div>
                        </p>
                         {% for tag in babble.tags %}
                            <a href="/tag/{{ tag.tag }}">#{{tag.tag}}</a>
                         {% endfor %}
                </div>
                    <nav class="level is-mobile">
                        <div class="level-left">
                            <a class="level-item">
                                <span class="icon is-small"><i class="fas fa-reply"></i></span>
                            </a>
                            <a class="level-item">
                                <span class="icon is-small"><i class="fas fa-heart"></i></span>
                            </a>
                        </div>
                    </nav>
                </div>
            </article>
        </div>
    {% endfor %}
    </div>
</div>
{% endblock %}