{% extends 'layout.html' %}

{% block head %}
    <script src="{{ url_for('static', filename='js/feed.js') }}" type="text/javascript"></script>
{% endblock %}

{% block body %}
    <div class="section">
        <p class="title is-2 is-spaced">Write a babble</p>
        <form action="/new-babble" method="POST" id="add-babble-form">
            <div class="field is-grouped">
                <textarea name="babble" class="textarea" placeholder="Say something to your friends!"></textarea>
            </div>
            <div class="level-left has-text-centered">
                <button class="button is-primary spaced" type="submit">Babble it!</button>
            </div>
        </form>
    </div>
    <div class="section">
    {% for babble in babbles %}
        <div class="box">
            <article class="media">
                <div class="media-left">
                    <figure class="image is-64x64">
                        <img src="https://bulma.io/images/placeholders/128x128.png" alt="Image">
                    </figure>
                </div>
                <div class="media-content">
                     <div class="content">
                        <p>
                            <strong>@{{ babble.username }}</strong> <small>{{ babble.elapsed }} ago</small>
                        <br>
                        {{ babble.message }}
                        </p>
                         {% for tag in babble.tags %}
                            <a href="/tag/{{ tag.tag }}">#{{tag.tag}}</a>
                         {% endfor %}
                </div>
                    <nav class="level is-mobile">
                        <div class="level-left">
                            <a class="level-item">
                                <span class="icon is-small"><i class="fas fa-reply"></i></span>
                            </a>
                            <a class="level-item">
                                <span class="icon is-small"><i class="fas fa-heart"></i></span>
                            </a>
                        </div>
                    </nav>
                </div>
            </article>
        </div>
    {% endfor %}
    </div>
{% endblock %}